<h1>Nutzer:</h1>
<ul *ngFor="let user of users|async">
  <li> {{user | fullName:shortening | uppercase}}</li>
</ul>
<button name="toggleShortening" (click)="toggleShortening()">Toggle</button>

<h2> Neuer Nutzer: </h2>
<label for="forename" class="sr-only">Name des neuen Nutzers</label>
<input #inputForename type="text" id="forename" />
<label for="surname" class="sr-only">Name des neuen Nutzers</label>
<input #inputSurname type="text" id="surname" />
<input type="button" name="addUser" value="Hinzufügen" (click)="addUser(inputForename.value, inputSurname.value)">

<div>
  <h2>Zuletzt hinzugefügter Nutzer: </h2>
  {{lastUser|async}}
</div>
